footer{
    padding-top: 10px;
    position: fixed;
    height: 40px;
    background-color: #101010;
    color:#9d9d9d;
    bottom: 0px;
    left: 0px;
    right: 0px;
    margin-bottom: 0px;
    
}
body{
   
    background-color: #004D40;
}